header
  .container 
    .row.align-item-center 
      .col-3 
        .inner-logo 
          a(href="/") Logo
            img(src="", alt="") 
      
      .col-9 
        .inner-menu 
          ul 
            li 
              a(href="/") Trang chu  
            li 
              a(href="/products") San pham
//- 19 49:20